<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.notice.mapper.UserMapper">

    <!-- 회원 정보 검색 -->
    <select id="findById" parameterType="string" resultType="hashmap">
		SELECT
			USER_KEY,
			USER_ID,
			USER_PW,
			USER_NAME,
			ROLE
		FROM
			USER_TB
		WHERE
			USER_ID = #{id}
	</select>


</mapper>

